{% extends 'base.html' %}

{% block conteudo %}
    <h2 class="text-center">Lista de Livros</h2>
    <hr>
    <a class="btn btn-secondary my-3" href="{{url_for('adiciona_livro')}}">+</a>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{livro.id}}</td>
                    <td>{{livro.nome}}</td>
                    <td>{{livro.descricao}}</td>
                    <td>{{livro.valor}}</td>
                    <td>
                        <a class="btn btn-secondary btn-xs" href="{{livro.id}}/atualiza_livro">Editar</a>
                        <a class="btn btn-danger btn-xs" href="{{livro.id}}/remove_livro" onclick="return confirm('Deseja excluir esse registro?')">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if livros.has_prev %}
        <a href="{{url_for('lista_livros', page=livros.prev_num)}}"><<</a>
    {% else %}
        Livros Listados
    {% endif %}
    {% if livros.has_next %}
        <a href="{{url_for('lista_livros', page=livros.next_num)}}">>></a>
    {% else %}
        Livros Listados
    {% endif %}
{% endblock conteudo %}